# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
#df.loc[ '2013-01-01', 'A'] 選取 index =  2013-01-01, column = A 的資料---為一個元素 
#df.loc[ '2013-01-01', ['A', 'B'] ] 選取 index =  2013-01-01, column = A及 B 的資料---為一個series
#df.loc[ '2013-01-01':'2013-01-02', 'A' ] 選取 index =  2013-01-01 到 2013-01-02, column = A 的資料---為一個series
#df.loc[ '2013-01-01':'2013-01-05', 'A':'C']  選取 index =  2013-01-01到 2013-01-05, column = A 到 C 的資料---為一個dataframe

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.288966  0.569261  0.472539
1  1.265823 -0.516665 -1.046727
2 -0.814506  0.180126 -1.643731
3  1.147185 -1.222639 -0.842510
4  0.227162 -0.894879  0.405860
5 -2.143647 -0.331024 -0.279936

In [20]:
print('select the first 3 rows.: \n',df.loc[0:2,'col1':'col3'])
print('\nselect the odd rows. (index = 1, 3, 5):\n',df.loc[[1,3,5],])
print('\nselect the last 2 columns.:\n',df.loc[:,['col2','col3']])
print('\nselect the even columns. (index = 0, 2, 4):\n',df[df.columns[::2]])

select the first 3 rows.:
        col1      col2      col3
0 -0.288966  0.569261  0.472539
1  1.265823 -0.516665 -1.046727
2 -0.814506  0.180126 -1.643731

select the odd rows. (index = 1, 3, 5):
        col1      col2      col3
1  1.265823 -0.516665 -1.046727
3  1.147185 -1.222639 -0.842510
5 -2.143647 -0.331024 -0.279936

select the last 2 columns.:
        col2      col3
0  0.569261  0.472539
1 -0.516665 -1.046727
2  0.180126 -1.643731
3 -1.222639 -0.842510
4 -0.894879  0.405860
5 -0.331024 -0.279936

select the even columns. (index = 0, 2, 4):
        col1      col3
0 -0.288966  0.472539
1  1.265823 -1.046727
2 -0.814506 -1.643731
3  1.147185 -0.842510
4  0.227162  0.405860
5 -2.143647 -0.279936

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [23]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   33  13  16  36
1   33  16  27  35
2   12  35  20  26
3   21  26  18  37
4   29  14  12  15
5   17  13  19  38
6   18  13  10  14
7   33  21  12  18
8   31  31  34  17
9   26  37  30  24
10  29  30  16  24
11  29  25  16  28
12  17  22  12  22
13  34  14  16  28
14  39  29  35  25

In [28]:
print('filtered by first column > 20:\n',df[df[0]>20])

filtered by first column > 20:
      0   1   2   3
0   33  13  16  36
1   33  16  27  35
3   21  26  18  37
4   29  14  12  15
7   33  21  12  18
8   31  31  34  17
9   26  37  30  24
10  29  30  16  24
11  29  25  16  28
13  34  14  16  28
14  39  29  35  25

In [29]:
print('filtered by first column + second column > 50:\n',df[(df[0]+df[1]) > 50 ])

filtered by first column + second column > 50:
      0   1   2   3
7   33  21  12  18
8   31  31  34  17
9   26  37  30  24
10  29  30  16  24
11  29  25  16  28
14  39  29  35  25

In [31]:
print('filtered by first column < 30 or second column > 30:\n',df[(df[0]<30)|(df[1]>30)])

filtered by first column < 30 or second column > 30:
      0   1   2   3
2   12  35  20  26
3   21  26  18  37
4   29  14  12  15
5   17  13  19  38
6   18  13  10  14
8   31  31  34  17
9   26  37  30  24
10  29  30  16  24
11  29  25  16  28
12  17  22  12  22

In [33]:
print('filtered by total sum of row > 100:\n',df[df.sum(axis = 1) > 100])

filtered by total sum of row > 100:
      0   1   2   3
1   33  16  27  35
3   21  26  18  37
8   31  31  34  17
9   26  37  30  24
14  39  29  35  25