# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [30]:
import numpy as np
import pandas as pd

In [31]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [32]:
print('計算每個不同種類 animal 的 age 的平均數:\n',df.groupby('animal').age.mean())
print('\n')
print('將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序:\n',df.sort_values(by = ['age','visits']))
print('\n')
df.priority = df.priority.map({'yes':True,'no':False})
print('將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False:\n',df)

計算每個不同種類 animal 的 age 的平均數:
 animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64


將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序:
   animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes


將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False:
   animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [33]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.189300  0.739983  0.330110
1  0.849289  0.366417  0.370380
2  0.216744  0.721800  0.976945
3  0.281962  0.313617  0.620000
4  0.758208  0.949592  0.600310

In [40]:
dfa = df - df.mean() 
print('一個包含兩個欄位的 DataFrame，將每個數字減去該欄位的平均數\n',dfa)

一個包含兩個欄位的 DataFrame，將每個數字減去該欄位的平均數
           0         1         2
0 -0.269801  0.121701 -0.249439
1  0.390188 -0.251865 -0.209169
2 -0.242356  0.103518  0.397396
3 -0.177138 -0.304665  0.040451
4  0.299107  0.331310  0.020761

In [42]:
dfb = df - df.mean(axis=1)
print('一個包含兩個欄位的 DataFrame，將每個數字減去該筆資料的平均數\n',dfb)

一個包含兩個欄位的 DataFrame，將每個數字減去該筆資料的平均數
           0         1         2   3   4
0 -0.230498  0.211288 -0.308386 NaN NaN
1  0.429491 -0.162279 -0.268117 NaN NaN
2 -0.203053  0.193105  0.338449 NaN NaN
3 -0.137836 -0.215078 -0.018497 NaN NaN
4  0.338410  0.420897 -0.038187 NaN NaN

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [44]:
print('哪一比的資料總合最小:\n',df.sum(axis=1).idxmin())

哪一比的資料總合最小:
 3

In [45]:
print('哪一欄位的資料總合最小:\n',df.sum().idxmin())

哪一欄位的資料總合最小:
 0